/* I'm starting styling here, but will eventually break it out into the other CSS files */


header, aside, #section-c, #section-d, #section-efgh span, footer {
  background: lightseagreen;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
  border: 0.5px solid black;
  border-bottom: 0;
}

header {
  width: 480px;
  height: 75px;
}

header span {
  line-height: 75px;
}

aside {
  width: 480px;
  height: 150px;
}

aside span {
  line-height: 150px;
}

#section-c, #section-d {
  width: 480px;
  height: 125px;
  line-height: 125px;
}

#section-efgh {
  width: 480px;
  margin: auto;
}

#section-efgh span {
  width: 240px;
  height: 250px;
  float: left;
  line-height: 250px;
}

#mobile-clear {
  clear: both;
}

footer {
  clear: both;
  width: 480px;
  height: 80px;
  line-height: 80px;
}