header {
  height: 100px;
  background-color: #2859af;
}

main {
  display: flex;
  flex-direction: row;
  height: 80vh;
  overflow: auto;
}

#div-ctoi {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
}

aside {
  width: 20%;
  height: 100%;
  background-color: rgb(143, 31, 143);
}

#div-cd {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#section-c,
#section-d {
  width: 50%;
  height: 100%;
}

#section-c {
  background-color: rgb(247, 23, 23);
}

#section-d {
  background-color: rgb(243, 112, 24);
}

#section-efgh span {
  width: 25%;
  height: 100%;
  background-color: #8EA604;
}

#div-i {
  width: 100%;
}

#section-i {
  height: 100%;
  background-color: #F5BB00;
}
