body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75px;
  background-color: #8EA604;
}

main {
  width: 100%;
}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: #F5BB00;
}

#section-c, #section-d {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
}

#section-c {
  background-color: rgb(243, 112, 24);
}

#section-d {
  background-color: rgb(247, 23, 23);
}

#section-efgh {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

#section-efgh span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 250px;
  background-color: rgb(143, 31, 143);
}

#section-i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #2859af;
}
