@import url("./layouts/mobile.css");
@import url("./layouts/tablet.css") (min-width: 600px);
@import url("./layouts/desktop.css") (min-width: 1000px);

header, aside, #section-c, #section-d, #section-efgh span, #section-i {
  margin: auto;
  text-align: center;
  box-sizing: border-box;
  border: 0.5px solid black;
}
